<div class="add-comment-form-wrapper">
  <form id="add-comment-form">
    <input type="hidden" id="postId" name="postId" value={{postId}}>
    <input type="hidden" id="userId" name="userId" value={{userId}}>
    <div class="input-box">
      <label for="comment-contents">Comment: </label>
      <input id="comment-contents" type="text">
    </div>
    <button type="submit" id="submit-comment-button">Submit Comment</button>
  </form>
  <script src="/js/addComment.js"></script>
</div>