<div class="add-post-form-wrapper">
  <form id="add-post-form">
    <div class="input-box">
      <label for="post-title">Title: </label>
      <input id="post-title" type="text">
    </div>
    <div class="input-box">
      <label for="post-contents">Post contents: </label>
      <input id="post-contents" type="text">
    </div>
    <button type="submit" id="submit-post-button">Submit Post</button>
  </form>
  <script src="/js/addPost.js"></script>
</div>