<div class="post-wrapper card-body">
  <h2 class="card-title">{{title}}</h2>
  <h4>Posted by {{user.username}} on {{format_date createdAt}}</h4>
  <p class="card-text">{{contents}}</p>
  <div class="post-comments">
    {{#if comments.length}}
      {{> comments}}
    {{/if}}
  </div>
</div>
{{#if loggedIn}}
  {{> addComment}}
{{/if}}
  